@model NaPoso.Models.Oglas

@{
    ViewData["Title"] = "Detalji";
}

<h1>Detalji</h1>

<div>
    <h4>Oglas</h4>
    <hr />
    <dl class="row">
       
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Opis)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Opis)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Lokacija)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Lokacija)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TipPosla)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TipPosla)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CijenaPosla)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CijenaPosla)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Naslov)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Naslov)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
    </dl>
</div>

    <div>
        <a asp-action="Edit" asp-route-id="@Model?.Id">Izmjeni</a> |

        @if (User.IsInRole("Klijent"))
        {
            <a asp-action="OglasiKlijenta">Nazad</a>
        }
        else if (User.IsInRole("Admin"))
        {
            <a asp-action="Index">Nazad</a>
        }
    </div>

