@model IEnumerable<NaPoso.Models.Oglas>

@{
    ViewData["Title"] = "Svi oglasi";
}

<h1>Svi oglasi</h1>

<p>
    <a asp-action="KreirajPosao">Kreiraj Posao</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.KlijentId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RadnikId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Opis)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Lokacija)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TipPosla)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CijenaPosla)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Naslov)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.KlijentId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RadnikId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Opis)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Lokacija)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TipPosla)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CijenaPosla)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Naslov)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Uredi</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Detalji</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Obriši</a>
            </td>
        </tr>
}
    </tbody>
</table>
