@using static NaPoso.Enums.Enums
@model IEnumerable<Oglas>
@{
    var statusi = Enum.GetValues(typeof(Status)).Cast<Status>().ToList();
}
<h2>Moji Oglasi</h2>

<table class="table">
    <thead>
        <tr>
            <th>Naslov</th>
            <th>Lokacija</th>
            <th>Status</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Naslov</td>
                <td>@item.Lokacija</td>
                <td>@item.Status</td>
                <td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-primary">Detalji</a>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary">Uredi</a>
                    <a asp-controller="Oglas" asp-action="PrijavljeniRadnici" asp-route-oglasId="@item.Id" class="btn btn-primary">
                        Prikaži prijavljene radnike
                    </a>
                    <a asp-controller="Oglas" asp-action="Delete" asp-route-id="@item.Id" class="btn btn-primary">Obriši</a>
                </td>
            </tr>
        }
    </tbody>
</table>
        
        <a asp-controller="Home" asp-action="Index">Nazad</a>
    