@model IEnumerable<NaPoso.Models.OglasKorisnik>

@using NaPoso.Enums
@using static NaPoso.Enums.Enums
<h3>Prijavljeni radnici</h3>

<table class="table">
    <thead>
        <tr>
            <th>Ime</th>
			<th>Prezime</th>
            <th>Email</th>
			<th>Verifikovan</th>
            <th>Datum prijave</th>
			<th>Status</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var prijava in Model)
        {
            <tr>
				<td>@prijava.Korisnik.Ime</td>
				<td>@prijava.Korisnik.Prezime</td>
                <td>@prijava.Korisnik.Email</td>
                <td>
                    @(prijava.Korisnik.Verified ? "Da" : "Ne")
                </td>
                <td>@prijava.DatumPrijave.ToString("dd.MM.yyyy")</td>
                <td>@prijava.Oglas.Status</td>
                <td>
                    @if (prijava.Status == Status.Aktivan)
                    {
                        <a asp-action="Prihvati" asp-route-id="@prijava.Id" class="btn btn-success">Prihvati</a>
                        <a asp-action="Odbij" asp-route-id="@prijava.Id" class="btn btn-danger">Odbij</a>
                    }
                    else if (prijava.Status == Status.Prihvacen)
                    {
                        <a asp-action="InitiatePayment" asp-route-oglasId="@prijava.OglasId" class="btn btn-primary">Plati</a>
                    
                        <a asp-controller="Chat" asp-action="StartChat" 
                           asp-route-oglasId="@prijava.OglasId" 
                           asp-route-korisnik2Id="@prijava.KorisnikId" 
                           class="btn btn-info ml-2">
                           Razgovor
                        </a>
                    }
                    else if (prijava.Status == Status.Odbijen)
                    {
                        <span class="text-danger">Odbijeno</span>
                    }
                </td>
            </tr>
            
        }
    </tbody>
</table>
<div>
	<a asp-action="OglasiKlijenta">Nazad</a>
</div>