@model IEnumerable<NaPoso.Models.Obavijest>

@{
    ViewData["Title"] = "Sve obavijesti";
}

<h1>Sve obavijesti</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.KorisnikId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sadrzaj)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VrijemeSlanja)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tip)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.KorisnikId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sadrzaj)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VrijemeSlanja)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tip)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Uredi</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Detalji</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Obriši</a>
            </td>
        </tr>
}
    </tbody>
</table>
