@model NaPoso.Models.Statistika

@{
    ViewData["Title"] = "Admin statistika";
}

<h1>Admin statistika</h1>

<ul>
    <li>Broj korisnika: @Model.BrojKorisnika</li>
    <li>Broj poslova: @Model.BrojPoslova</li>
    <li>Broj klijenata: @Model.BrojKlijenata</li>
    <li>Broj radnika: @Model.BrojRadnika</li>
    <li>Broj završenih poslova: @Model.BrojZavrsenihPoslova</li>
</ul>
